<template>

  <div class="">

    <main-view v-if="view == 'main'"  />
    <alumni-view v-if="view == 'alumni'" />
    <admin-view v-if="view == 'admin'" />
    <success-view v-if="view == 'success'" />
    <cancelled-view v-if="view == 'cancelled'" />

  </div>


</template>



<script>

import mainView from './components/main-view.vue';
import alumniView from './components/alumni-view.vue';
import adminView from './components/admin-view.vue';
import successView from './components/success-view.vue';
import cancelledView from './components/cancelled-view.vue';

export default { 
  components: {
    'main-view': mainView,
    'alumni-view': alumniView,
    'admin-view': adminView,
    'success-view': successView,
    'cancelled-view': cancelledView,
  },
  data() {
    return {
      view: 'main',
    }
  },
  mounted() {
    let val = window.location.pathname;
    if(val == '/alumni')
    {
      this.view = 'alumni';
    }
    else if(val == '/admin')
    {
      this.view = 'admin';
    }
    else if(val == '/success')
    {
      this.view = 'success';
    }
    else if(val == '/cancelled')
    {
      this.view = 'cancelled';
    }
  },
  methods: {

  }
}
</script>

<style>
</style>