<template>

  <div class="">

      <div  v-if="hasAccess" class="space-y-8 mt-8 px-8">

        <div>
          <div class="flex space-x-8">
                <div>     
                    <span class="px-4">Rows:</span>
                    <select class="border border-gray-400 text-gray-400 w-24 px-4 py-2" v-model="rowCount">
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
            </div>
        </div>

        <div>
            <table class="min-w-full divide-y divide-gray-200 border border-gray-200">
                    
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.name" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.email" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.product" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.date" /></th>
                    <th class="py-2 px-2"><input class="px-2 py border border-gray-400 w-full" placeholder="Search..." v-model="filters.status" /></th>
                </thead>
                <thead class="bg-gray-100 divide-x divide-gray-200">
                    <ui-table-header :sort="sort" field="name" label="Name" :sortable="true" />
                    <ui-table-header :sort="sort" field="email" label="Email" :sortable="true" />
                    <ui-table-header :sort="sort" field="product" label="Product" :sortable="true" />
                    <ui-table-header :sort="sort" field="date" label="Date" :sortable="true" />
                    <ui-table-header :sort="sort" field="status" label="Status" :sortable="true" />
                </thead>
                <tbody  class="bg-gray-50">
                    <template v-for="(r,index) in filteredData">
                        <tr class="border-b border-gray-200 divide-x divide-gray-200" v-if="index >= ((pageIndex-1)*rowCount) && index < ((pageIndex)*rowCount)">
                            <td class="px-4 py-2">{{r.name}}</td>
                            <td class="px-4 py-2">{{r.email}}</td>
                            <td class="px-4 py-2">{{r.product}}</td>
                            <td class="px-4 py-2">{{r.date}}</td>
                            <td class="px-4 py-2">{{r.status}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div class="flex space-x-2 py-2 w-full justify-center text-center text-gray-500 font-medium">
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = 1">&lt;&lt;</div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = (pageIndex == 1) ? 1 : pageIndex-1">&lt;</div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" v-for="i in pages"
                    :class="{ 'bg-purple-800 text-white' : i == pageIndex }" @click.prevent="pageIndex = i" >
                    {{i}}
                </div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white"
                    @click.prevent="pageIndex = (pageIndex == (Math.ceil(filteredData.length/rowCount))) ? (Math.ceil(filteredData.length/rowCount)) : pageIndex+1">></div>
                <div class="border border-gray-500 px-2 py-2 w-12 cursor-pointer hover:bg-gray-700 hover:text-white" 
                    @click.prevent="pageIndex = (Math.ceil(filteredData.length/rowCount))" >>></div>
            </div>
        </div>
        
      </div>

      <div v-else class="bg-bears-blue min-h-screen text-center pt-64">
        <div>
          <span class="text-white font-medium">Enter password to access admin view</span>
        </div>
        <div class="w-64 mx-auto mt-8">
          <input type="password" v-model="password" placeholder="Enter Password" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                      
        </div>

        <div class="w-64 mx-auto mt-8">
          <button  @click.prevent="checkPassword" class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-bears-blue-dark hover:bg-bears-blue-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bears-blue-dark">
            Submit
          </button>           
        </div>
      </div>
  </div>


</template>



<script>
import axios from 'axios';
import uiTableHeader from './uiTableHeader.vue';

export default { 
  components: {
      'ui-table-header': uiTableHeader,
  },
  data() {
    return {
      orders:[],
      filters: {
          name: '',
          email: '',
          status: '',
          product: '',
          date: '',
      },
      sort: {
          field: null,
          descending: true,
      },
      rowCount: 10,
      pageIndex: 1,
      hasAccess: false,
      password: '',
    }
  },
  computed: {

      pages () {
          let max_value = (Math.ceil(this.filteredData.length/this.rowCount) )
          let current = this.pageIndex;
          
          let list = [];

          if(max_value > 5)
          {
              if(current == max_value)
              {
                  list = [current-4,current-3,current-2,current-1,current];
              }
              else if(current == max_value-1)
              {
                  list = [current-3,current-2,current-1,current,current+1];
              }
              else if(current >= 3)
              {
                  list = [current-2,current-1,current,current+1,current+2];
              }
              else if(current = 2)
              {
                  list = [current-1,current,current+1,current+2,current+3];
              }
              else
              {
                  list = [current,current+1,current+2,current+3,current+4];
              }
          }
          else
          {
                  for(let i=1; i<max_value+1; i++)
                  {
                      list.push(i)
                  }
          }

          return list;
      },

      filteredData () {

          let data = [];

          let f = this.filters;

          for(let i=0; i<this.orders.length; i++)
          {
              let row = this.orders[i]; 
              
              if(
                  (f.name == '' || row.name.toUpperCase().indexOf(f.name.toUpperCase()) > -1) &&
                  (f.email == '' || row.email.toUpperCase().indexOf(f.email.toUpperCase()) > -1) &&
                  (f.status == '' || row.status.toUpperCase().indexOf(f.status.toUpperCase()) > -1) &&
                  (f.date == '' || row.date.toUpperCase().indexOf(f.date.toUpperCase()) > -1) &&
                  (f.product == '' || row.product.toUpperCase().indexOf(f.product.toUpperCase()) > -1)
              )
              {
                  data.push(row)
              }
              
          }
          
          if (this.sort.field != null) {
              data.sort((a,b) => { 
                  let aVal = a[this.sort.field];
                  let bVal = b[this.sort.field];

                  if (aVal === bVal) {
                      return 0;
                  }
                  else if (aVal == null) {
                      return 1;
                  }
                  else if (bVal == null) {
                      return -1;
                  }
                  else if (this.sort.descending) {
                      return (aVal < bVal) ? 1 : -1;
                  }
                  else {
                      return (aVal < bVal) ? -1 : 1;
                  }
              });
          }

          return data
      },
  },
  mounted() {
  },
  methods: {

    checkPassword() {

      axios.post('/api/alumni/password', {
        password: this.password,
      })
      .then((response) => {
        if(response.data.error_code != 1)
        {
          this.hasAccess = true;
          let d = [];
          for(let i=0; i<response.data.length; i++)
          {
            let fd = response.data[i].form_data
            let td = response.data[i].ticket_data

            d.push({ 
              name: fd.fullName,
              email: fd.email,
              product: td.name,
              date: response.data[i].date,
              status: response.data[i].status,
            })
          }
          this.orders = d;
        }
        
      })
      .catch((error) => {
        console.log(error);
      });
    },

  }
}
</script>

<style>
</style>