<template>


  
    <div class="bg-bears-blue sm:px-8 sm:pb-8 min-h-screen align-middle">

			<div class="my-auto ">
				<a href="/" class="px-8 py-8 flex justify-between">
					<img :src="logoUrl" class="mx-auto object-scale-down object-center w-64" />
				</a>

			</div>
    
      <div class="">
        <div class="max-w-7xl bg-white mx-auto py-16 px-8">
          <div class="sm:flex sm:flex-col sm:align-center">
            <h1 class="text-xl font-extrabold text-gray-900 text-center xs:text-3xl sm:text-5xl">Alumni Tournament 2021</h1>
            <div class="my-8 space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-4">

                <div class="">
                  <dt>
                    <p class="text-lg leading-6 font-medium text-gray-900">When</p>
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                    The 2021 Alumni Tournament will take place on <b>14th & 15th of August</b>. <br>Games will be played from: <br>Saturday 14th 10:00 - 18:00 <br>Sunday 15th 12:00 - 17:00. <br> A Party will be held: <br>Saturday 14th  19:00 - late
                  </dd>
                </div>

                <div class="">
                  <dt>
                    <p class="text-lg leading-6 font-medium text-gray-900">What</p>
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                    Players will be organised into a number of teams based on when they played Bears and which team they were on, each team then plays a series of running clock games over the course of the weekend.
                  </dd>
                </div>

                <div class="">
                  <dt>
                    <p class="text-lg leading-6 font-medium text-gray-900">Who</p>
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                    The Alumni Tournament is open to all past and present Bears, providing they have full kit. Attendence to watch the games is free and open, with family and friends encouraged to come and watch.
                  </dd>
                </div>

                
                <div class="">
                  <dt>
                    <p class="text-lg leading-6 font-medium text-gray-900">Tickets</p>
                  </dt>
                  <dd class="mt-2 text-base text-gray-500">
                    Anyone wishing to play in the tournament must purchase a Player Entry ticket. Party Entry tickets are open to players, families, and friends, and cover access to buffet food and a drinks voucher.
                  </dd>
                </div>
                
            </div>
          </div>

          <hr>
          <div class="text-center" v-if="activeTicket == null">
            <br>Tickets are on sale until <b>July 31st</b>
          </div>
          <div v-if="activeTicket == null" class="mt-8 space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-4">
            
            

            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200" v-for="(ticket, key) in tickets">
              <div class="p-6">
                <h2 class="text-lg leading-6 font-medium text-gray-900">{{key}}</h2>
                <p class="mt-4 text-sm text-gray-500 h-12">{{ticket.description}}</p>
                <p class="mt-8">
                  <span class="text-4xl font-extrabold text-gray-900">£{{ticket.price}}</span>
                </p>
                <button class="mt-8 block w-full bg-bears-blue border border-bears-blue-dark rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-bears-blue-dark"
                  @click.prevent="activeTicket=key">Buy Ticket</button>
              </div>
            </div>

          </div>

          <div v-else>

            <div class="bg-bears-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
              <div class="relative max-w-xl mx-auto">
                <div class="text-center">
                  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                    {{activeTicket}} - £{{tickets[activeTicket].price}}
                  </h2>
                  <p class="mt-4 text-lg leading-6 text-gray-500">
                    {{tickets[activeTicket].description}}
                  </p>
                </div>
                <div class="mt-12">
                  <form class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                    
                    <div class="sm:col-span-2"  v-if="tickets[activeTicket].form.fullName != null">
                      <label for="playerName" class="block text-sm font-medium text-gray-700">Player Name</label>
                      <div class="mt-1">
                        <input type="text" name="playerName" id="playerName" autocomplete="name" v-model="tickets[activeTicket].form.fullName" placeholder="Full Name" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                      </div>
                    </div>

                    <div class="sm:col-span-2"  v-if="tickets[activeTicket].form.email != null">
                      <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                      <div class="mt-1">
                        <input id="email" name="email" type="email" autocomplete="email" v-model="tickets[activeTicket].form.email" placeholder="Email Address" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                      </div>
                    </div>
                    <div  v-if="tickets[activeTicket].form.startYear != null"> 
                      <label class="block text-sm font-medium text-gray-700">Start Year</label>
                      <div class="mt-1">
                        <input type="text" v-model="tickets[activeTicket].form.startYear" placeholder="Year you started Bears"  class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                      </div>
                    </div>
                    <div  v-if="tickets[activeTicket].form.endYear != null">
                      <label class="block text-sm font-medium text-gray-700">End Year</label>
                      <div class="mt-1">
                        <input type="text" v-model="tickets[activeTicket].form.endYear" placeholder="Year you finished Bears" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                      </div>
                    </div>
                    <div class="sm:col-span-2"  v-if="tickets[activeTicket].form.team != null">
                      <label class="block text-sm font-medium text-gray-700">Team Information</label>
                      <div class="mt-1">
                        <input type="text" v-model="tickets[activeTicket].form.team" placeholder="Which Bears teams did you play for?" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                      </div>
                    </div>
                    <div class="sm:col-span-2"  v-if="tickets[activeTicket].form.notes != null">
                      <label class="block text-sm font-medium text-gray-700">Other Information</label>
                      <div class="mt-1">
                        <textarea rows="3" v-model="tickets[activeTicket].form.notes" placeholder="Anything else worth noting...." class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md"></textarea>
                      </div>
                    </div>
                    <div class="sm:col-span-2" v-if="tickets[activeTicket].form.secondaryName != null">
                      <label class="block text-sm font-medium text-gray-700">Plus One Name</label>
                      <div class="mt-1">
                        <input type="text" v-model="tickets[activeTicket].form.secondaryName" placeholder="Full Name" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                      </div>
                    </div>
                    <div class="sm:col-span-2">
                      <button  @click.prevent="saveOrder" class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-bears-blue hover:bg-bears-blue-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bears-blue-dark">
                        Go To Payment
                      </button>
                    </div>
                    <div class="sm:col-span-2">
                      <hr>
                      <button @click.prevent="activeTicket = null" class="mt-8 block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Back</button>
      
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    


    </div>


  


</template>



<script>

import axios from 'axios';
import logoUrl from '../assets/logo-white.png'

export default { 
  data() {
    return {
		  logoUrl: logoUrl,
      activeTicket: null,
      stripe: Stripe('pk_live_QO3lWilo5YjIL6JvaKYMCbe2'),
      errorMessage: '',

      tickets: {
        'Player Entry': {
          description: 'Entry to the alumni tournament as a player.',
          price: 40,
          id: 'price_1In4KTHVNWa5iQUp1pfj0PGQ',
          form: {
            fullName: '',
            email: '',
            startYear: '',
            endYear: '',
            team: '',
            notes: '',
          },
        },
        'Player Entry & Party Entry': {
          description: 'Entry to the alumni tournament as a player, and party entry.',
          price: 55,
          
          id: 'price_1In4LFHVNWa5iQUpBBC4sszf',
          form: {
            fullName: '',
            email: '',
            startYear: '',
            endYear: '',
            team: '',
            notes: '',
          },
        },
        'Player Entry & 2x Party Entry': {
          description: 'Entry to the alumni tournament as a player, and party entry for the player and an additional person.',
          price: 70,
          
          id: 'price_1In4LnHVNWa5iQUpYtuxBIi0',
          form: {
            fullName: '',
            email: '',
            startYear: '',
            endYear: '',
            team: '',
            notes: '',
            secondaryName: '',
          },
        },
        'Party Entry': {
          description: 'Party entry for one person.',
          price: 15,
          id: 'price_1In4MJHVNWa5iQUpDMgv19iO',
          form: {
            fullName: '',
            email: '',
          },
        },
      }
    }
  },
  methods: {

    saveOrder() {

      if(this.tickets[this.activeTicket].form.fullName == '' || this.tickets[this.activeTicket].form.email == '' )
      {
        return;
      }

      let td = {
          name: this.activeTicket,
          description: this.tickets[this.activeTicket].description,
          id: this.tickets[this.activeTicket].id,
          price: this.tickets[this.activeTicket].price,
        }

      axios.post('/api/alumni', {
        td: JSON.stringify(td),
        fd: JSON.stringify(this.tickets[this.activeTicket].form),
      })
      .then((response) => {
        this.goToPayment(response.data.data)
      })
      .catch((error) => {
        console.log(error);
      });

    },

    goToPayment(id) {

        this.stripe.redirectToCheckout({
          lineItems: [{price: this.tickets[this.activeTicket].id, quantity: 1}],
          mode: 'payment',
          successUrl: 'https://sheffieldbears.co.uk/success?id='+id,
          cancelUrl: 'https://sheffieldbears.co.uk/cancelled?id='+id,
        })
        .then(function (result) {
          if (result.error) {
            this.errorMessage = result.error.message;
          }
        });

    }

  }
}
</script>

<style>
</style>