<template>

    <div class="bg-bears-black min-h-screen px-8 align-middle">


		<div class="max-w-5xl mx-auto px-2 sm:px-6 lg:px-8 pt-8 -pb-4" v-if="bannerOpen == true">
			<div class="p-2 rounded-lg bg-bears-blue shadow-lg sm:p-3">
				<div class="flex items-center justify-between flex-wrap">
					<div class="w-0 flex-1 flex items-center">
					<span class="flex p-2 rounded-lg bg-bears-blue-dark hidden md:inline">
						<svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
						</svg>
					</span>
					<p class="ml-3 font-medium text-white truncate">
						<span class="">
						2021 Alumni Tournament tickets now on sale!
						</span>
					</p>
					</div>
					<div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
					<a href="/alumni" class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-bears-blue bg-white hover:bg-gray-100">
						Get Tickets
					</a>
					</div>
					<div class="order-2 flex-shrink-0 sm:order-3 sm:ml-2">
					<button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-bears-blue-dark focus:outline-none focus:ring-2 focus:ring-white" @click.prevent="bannerOpen = false">
						<span class="sr-only">Dismiss</span>
						<!-- Heroicon name: outline/x -->
						<svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
					</div>
				</div>
			</div>
		</div>


		<div class="my-auto ">
			<div class="px-8 py-8 flex justify-between">
				<img :src="logoUrl" class="mx-auto object-scale-down w-96 object-center" />
			</div>


			<div class="grid grid-cols-3 mx-auto text-center py-8 text-bears-white sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl">
				<a href="https://www.facebook.com/SheffieldBears" target="_blank"  class="hover:text-bears-yellow mx-auto py-2">
					<svg class="h-12 w-12 flex" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
					<path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
					</svg>
				</a>
				<a href="https://instagram.com/sheffieldbears" target="_blank"  class="hover:text-bears-yellow mx-auto py-2">
					<svg class="h-12 w-12 flex" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
					<path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
					</svg>
				</a>
				<a href="https://twitter.com/sheffieldbears" target="_blank"  class="hover:text-bears-yellow mx-auto py-2">
					<svg class="h-12 w-12 flex" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
					<path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
					</svg>
				</a>
			</div>
		</div>

		<div class="" v-if="false">
			About
		</div>
		
		
		<div class="" v-if="false">
			Gallery
		</div>

		
		<div class="" v-if="false">
			Contact
		</div>

    </div>

</template>



<script>
import logoUrl from '../assets/logo-white.png'
export default { 
  data() {
    return {
		bannerOpen: true,
		logoUrl: logoUrl,
    }
  },
  methods: {
  }
}
</script>

<style>
</style>