<template>


  
    <div class="bg-bears-blue sm:px-8 sm:pb-8 min-h-screen align-middle">

			<div class="my-auto ">
				<a href="/" class="px-8 py-8 flex justify-between">
					<img :src="logoUrl" class="mx-auto object-scale-down object-center w-64" />
				</a>

			</div>
    
      <div class="">
        <div class="max-w-7xl bg-white mx-auto py-16 px-8">
          <div class="sm:flex sm:flex-col sm:align-center">
            
            <h1 class="text-xl font-extrabold text-gray-900 text-center xs:text-3xl sm:text-5xl">Alumni Tournament 2021</h1>
            <p class="mt-5 text-xl text-gray-500 sm:text-center">Congratulations, your ticket purchase was successful!</p>
            

            <a href="/alumni" class="mt-16 block w-full bg-bears-blue border border-bears-blue-dark rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-bears-blue-dark">
              Click here to return to previous page
            </a>

          </div>



        </div>

      </div>
    


    </div>


  


</template>



<script>

import axios from 'axios';

import logoUrl from '../assets/logo-white.png'
export default { 
  data() {
    return {
		  logoUrl: logoUrl, 
    }
  },
  mounted() {
    this.updateStatus();
  },
  methods: {

    updateStatus() {

      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const id = urlParams.get('id');

      if(id == null) 
      {
        return
      }

      axios.post('/api/alumni/update', {
        id: id,
        status: 'Complete',
      })
      .then((response) => {
        console.log(response.data);
      })
      .catch((error) => {
        console.log(error);
      });

    },


  }
}
</script>

<style>
</style>