<template>

   <th class="px-4 py-2 border-b whitespace-no-wrap border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
      <div class="flex justify-between group" @click.prevent="setSort">
         <div class="py-1">
            {{ label || field }}
         </div>
         <template v-if="sortable == true">
            <div class="w-6 h-6 text-primary-500" v-if="sort.field == field">
               <template v-if="sort.descending == true">
                  <svg viewBox="0 0 20 20" fill="currentColor">
                     <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                  </svg>
               </template>
               <template v-else>
                  <svg viewBox="0 0 20 20" fill="currentColor">
                     <path fill-rule="evenodd"
                        d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                        clip-rule="evenodd" />
                  </svg>
               </template>
            </div>
            <div class="w-6 h-6 text-cool-gray-300 group-hover:text-primary-500" v-else>
               <svg viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                     d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                     clip-rule="evenodd"></path>
               </svg>
            </div>
         </template>
      </div>
   </th>

</template>

<style>

</style>

<script>
   export default {
      props: {
         label: {
            type: String,
            default: null,
         },
         field: {
            type: String,
            default: "",
            required: true
         },
         sortable: {
            type: Boolean,
            default: false,
         },
         sort: {
            type: Object,
            default: function () {
               return {
                  field: null,
                  descending: true,
               }
            }
         },
      },
      data() {
         return {};
      },
      watch: {
      },
      computed: {
      },
      methods: {
         setSort() {
            if (this.sortable == true) {
               if (this.sort.field == this.field) {
                  if (this.sort.descending == true) {
                     this.sort.descending = false;
                  }
                  else if (this.sort.descending == false) {
                     this.sort.descending = true;
                  }
               }
               else {
                  this.sort.field = this.field;
                  this.sort.descending = true;
               }
            }

         }
      },
      created() {
      },
      mounted() {
      }
   };
</script>